.menu_phone_btn{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
  
//   &:hover {
//     transform: scale(1.4);
//     -webkit-transform: scale(1.4);
//     -moz-transform: scale(1.4);
//     -ms-transform: scale(1.4);
//     -o-transform: scale(1.4);
// } 
}